* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #278c8a;
  --secondary-color: #3fa19f;
  --backyard-color: #f2f3f2;
}

body {
  min-height: 100vh;
  background-color: var(--backyard-color);
}


.section-heading {
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 2rem;
  text-align: center;
}

.button {
  color: white;
  background-color: #3fa19f;
  font-weight: 600;
  font-size: 0.7rem;
}

.sub-heading {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
}


input[type="color"] {
  width: 100px;
  height: 100px;
  border: none;
  margin: 2px;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none; /* Hides the default styling in WebKit browsers */
  width: 100%; /* Adjust the width as needed */
  height: 5px; /* Adjust the height as needed */
  background-color: grey;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Hides the default styling in WebKit browsers */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
}



.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 60% 20%;
  align-content: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
}

.flex-item {
  margin-bottom: 10px;
}



#color-display {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  cursor: pointer;
}


@media screen and (min-width: 720px) {
  .section-heading {
    font-size: 3rem;
  }


  .grid-3 {
      grid-template-columns: 1fr 1fr;
  }
  .grid-1 {
    grid-template-columns: 70% 30%;
  }

  #color-display {
    display: flex;
  margin-left: auto;
  margin-right: auto;
  }

  #text-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


